<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>u3kpBUoxH3rr9WSnLkK61PBWh0iROW0a</string>
	<key>Domain</key>
	<string>dev-oujycjwa44qo68ll.ca.auth0.com</string>
</dict>
</plist>
